[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Steve Arnett
	email = 13557887+kg6zjl@users.noreply.github.com
[pull]
	rebase = false
