annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.2
Brotli==1.1.0
bs4==0.0.1
cairocffi==1.7.0
CairoSVG==2.7.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssselect2==0.7.0
dacite==1.8.1
defusedxml==0.7.1
Deprecated==1.2.14
exceptiongroup==1.2.0
fastapi==0.103.2
filelock==3.13.1
fsspec==2024.2.0
ghp-import==2.1.0
h11==0.14.0
idna==3.6
iniconfig==2.0.0
jaconv==0.3.4
Jinja2==3.1.3
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mergedeep==1.3.4
mido==1.3.2
mkdocs==1.6.0
mkdocs-get-deps==0.2.0
mkdocs-include-dir-to-nav==1.2.0
mkdocs-material==9.5.25
mkdocs-material-extensions==1.3.1
mpmath==1.3.0
musenet-midi-py==0.1.1
mutagen==1.47.0
networkx==3.2.1
packaging==23.2
paginate==0.5.6
pathspec==0.12.1
pillow==10.3.0
platformdirs==3.11.0
pluggy==1.4.0
py==1.11.0
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.6.3
pydantic_core==2.16.3
Pygments==2.17.2
pykakasi==2.2.1
pymdown-extensions==10.8.1
pytest==6.2.5
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytube==15.0.0
pyusb==1.2.1
PyYAML==6.0.1
pyyaml_env_tag==0.1
rapidfuzz==3.6.2
redis==5.0.2
regex==2024.5.15
requests==2.31.0
rich==13.7.1
six==1.16.0
sniffio==1.3.1
soundcloud-v2==1.3.1
soupsieve==2.5
spotdl==4.2.4
spotipy==2.23.0
starlette==0.36.2
sympy==1.12
syncedlyrics==0.7.0
text-unidecode==1.3
tinycss2==1.3.0
toml==0.10.2
torch==2.2.1
typing_extensions==4.10.0
Unidecode==1.3.8
urllib3==2.1.0
uvicorn==0.23.2
watchdog==4.0.1
webencodings==0.5.1
websockets==12.0
wrapt==1.16.0
yt-dlp==2023.12.30
ytmusicapi==1.6.0
ziglang==0.12.0
boto
boto3
botocore