annotated-types
anyio
async-timeout
attrs
Babel
beautifulsoup4
Brotli
bs4
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
colorama
cssselect2
dacite
defusedxml
Deprecated
exceptiongroup
fastapi
filelock
fsspec
ghp-import
h11
idna
iniconfig
jaconv
Jinja2
Markdown
markdown-it-py
MarkupSafe
mdurl
mergedeep
mido
mkdocs
mkdocs-get-deps
mkdocs-include-dir-to-nav
mkdocs-material
mkdocs-material-extensions
mpmath
musenet-midi-py
mutagen
networkx
packaging
paginate
pathspec
pillow
platformdirs
pluggy
py
pycparser
pycryptodomex
pydantic
pydantic_core
Pygments
pykakasi
pymdown-extensions
pytest
python-dateutil
python-slugify
pytube
pyusb
PyYAML
pyyaml_env_tag
rapidfuzz
redis
regex
requests
rich
six
sniffio
soundcloud-v2
soupsieve
spotdl
spotipy
starlette
sympy
syncedlyrics
text-unidecode
tinycss2
toml
typing_extensions
Unidecode
urllib3
uvicorn
watchdog
webencodings
websockets
wrapt
boto
boto3
botocore