boto
boto3
botocore
urllib3
requests
six
credstash
s3transfer
PyYAML
nose
ipaddr
bs4
configparser
pylint
ansible==2.6.18
xmltodict
dnspython
datadog
ansible-lint
netaddr
httplib2
ipaddress
IPy
isort
Jinja2
jsonpatch
jsonpointer
lxml
perf
pbr
pycrypto
simplejson